In [42]:
import pandas as pd
import numpy as np

In [43]:
data=pd.read_csv("./data/train.csv")

In [44]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [45]:
data.drop(labels=["id"],axis=1,inplace=True)

In [46]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [47]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [48]:
X=data.drop(labels=["price"],axis=1)

In [49]:
Y=data[["price"]]

In [50]:
Y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [51]:
cat_col=X.select_dtypes(include='object').columns

In [52]:
num_col=X.select_dtypes(exclude='object').columns

In [53]:
cut_map={'Premium':4, 'Very Good':3, 'Ideal':5, 'Good':2, 'Fair':1}
clarity_map={'VS2':4, 'SI2':2, 'VS1':5, 'SI1':3, 'IF':8, 'VVS2':6, 'VVS1':7, 'I1':1}
color_map={'F':3, 'J':7, 'G':4, 'E':2, 'D':1, 'H':5, 'I':6}

In [54]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [68]:
clarity_cat=['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1']
cut_cat=['Premium', 'Very Good', 'Ideal', 'Good', 'Fair']
color_cat=['G', 'F', 'H', 'E', 'I', 'J', 'D']

In [69]:
num_pipe=Pipeline(
steps=[
('imputer',SimpleImputer()),
('scaler',StandardScaler())

]
)

In [79]:
cat_pipe=Pipeline(
    steps=[
('imputer',SimpleImputer(strategy='most_frequent')),
('encoding',OrdinalEncoder(categories=[cut_cat,color_cat,clarity_cat]))

]
)

In [88]:
preprocesser=ColumnTransformer(
[
    ('num_pipeline',num_pipe,num_col),
    ('cat_pipeline',cat_pipe,cat_col)
]

)

In [89]:
#train test split

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [92]:
X_train

        carat        cut color clarity  depth  table     x     y     z
83475    0.32    Premium     E     SI1   61.6   58.0  4.38  4.41  2.71
160324   1.20    Premium     F     VS2   62.6   57.0  6.81  6.76  4.25
101740   1.50      Ideal     I     VS2   62.2   55.0  7.30  7.26  4.53
180341   1.67    Premium     I     SI2   61.9   59.0  7.65  7.61  4.71
48480    1.00       Good     H     VS2   63.7   60.0  6.34  6.30  4.02
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
119879   0.50  Very Good     E     SI1   60.2   61.0  5.11  5.15  3.09
103694   1.91  Very Good     F     SI1   62.3   62.0  7.85  7.79  4.87
131932   1.22    Premium     G     VS2   62.8   58.0  6.82  6.74  4.26
146867   0.31  Very Good     G    VVS1   61.1   56.0  4.37  4.40  2.67
121958   0.31  Very Good     G     SI2   61.8   59.0  4.34  4.38  2.70

[154858 rows x 9 columns]

In [93]:
preprocesser.fit_transform(X_train)

array([[-1.01639515, -0.20431653,  0.4026079 , ...,  0.        ,
         3.        ,  3.        ],
       [ 0.88239567,  0.72075808, -0.1185356 , ...,  0.        ,
         1.        ,  0.        ],
       [ 1.52971072,  0.35072823, -1.16082259, ...,  2.        ,
         4.        ,  0.        ],
       ...,
       [ 0.92555001,  0.905773  ,  0.4026079 , ...,  0.        ,
         0.        ,  0.        ],
       [-1.03797232, -0.66685384, -0.63967909, ...,  1.        ,
         0.        ,  6.        ],
       [-1.03797232, -0.01930161,  0.9237514 , ...,  1.        ,
         0.        ,  1.        ]])

In [94]:
preprocesser.transform(X_test)

array([[-0.62800612,  0.25822077, -0.1185356 , ...,  2.        ,
         6.        ,  3.        ],
       [ 2.60856914, -2.14697321, -0.1185356 , ...,  1.        ,
         0.        ,  1.        ],
       [-1.124281  , -1.2218986 ,  0.9237514 , ...,  0.        ,
         3.        ,  6.        ],
       ...,
       [ 0.23508062,  0.53574316,  3.00832538, ...,  1.        ,
         1.        ,  3.        ],
       [-0.62800612,  0.16571331,  1.44489489, ...,  1.        ,
         1.        ,  3.        ],
       [-0.52012028, -1.49942098, -0.1185356 , ...,  1.        ,
         2.        ,  3.        ]])

In [95]:
preprocesser.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [96]:
X_train=pd.DataFrame(preprocesser.fit_transform(X_train),columns=preprocesser.get_feature_names_out())

In [97]:
X_test=pd.DataFrame(preprocesser.transform(X_test),columns=preprocesser.get_feature_names_out())

In [98]:
X_train

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-1.016395,-0.204317,0.402608,-1.202472,-1.187395,-1.194148,0.0,3.0,3.0
1,0.882396,0.720758,-0.118536,0.985177,0.941823,1.036109,0.0,1.0,0.0
2,1.529711,0.350728,-1.160823,1.426308,1.394848,1.441611,2.0,4.0,0.0
3,1.896523,0.073206,0.923751,1.741402,1.711965,1.702290,0.0,4.0,1.0
4,0.450852,1.738340,1.444895,0.562052,0.525040,0.703019,3.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
154853,-0.628006,-1.499421,1.966038,-0.545277,-0.516918,-0.643825,1.0,3.0,3.0
154854,2.414375,0.443236,2.487182,1.921455,1.875054,1.934005,1.0,1.0,3.0
154855,0.925550,0.905773,0.402608,0.994180,0.923702,1.050591,0.0,0.0,0.0
154856,-1.037972,-0.666854,-0.639679,-1.211475,-1.196455,-1.252077,1.0,0.0,6.0
154857,-1.037972,-0.019302,0.923751,-1.238483,-1.214576,-1.208630,1.0,0.0,1.0

In [99]:
X_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.628006,0.258221,-0.118536,-0.599293,-0.580341,-0.571414,2.0,6.0,3.0
1,2.608569,-2.146973,-0.118536,2.128516,2.201232,1.962969,1.0,0.0,1.0
2,-1.124281,-1.221899,0.923751,-1.373523,-1.413907,-1.469310,0.0,3.0,6.0
3,-1.016395,-0.574346,0.923751,-1.157458,-1.160213,-1.194148,0.0,4.0,6.0
4,0.860819,0.628251,-0.639679,0.949167,0.987125,1.007145,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...
38710,0.472429,1.553325,0.923751,0.607065,0.543161,0.731983,3.0,4.0,3.0
38711,-1.037972,-0.481839,-1.160823,-1.157458,-1.142092,-1.179666,2.0,6.0,0.0
38712,0.235081,0.535743,3.008325,0.336985,0.371011,0.398893,1.0,1.0,3.0
38713,-0.628006,0.165713,1.444895,-0.536274,-0.580341,-0.542449,1.0,1.0,3.0
38714,-0.520120,-1.499421,-0.118536,-0.329213,-0.335708,-0.470038,1.0,2.0,3.0

In [100]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [101]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [102]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [103]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [104]:
list(models)

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [105]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()

In [106]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [107]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [110]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,Y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(Y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1193.2015162653624
MAE: 731.4400751089744
R2 score 91.18955916155687
===================================


Lasso
Model Training Performance
RMSE: 1193.3416860723937
MAE: 732.9884795720155
R2 score 91.1874890496556
===================================


Ridge
Model Training Performance
RMSE: 1193.2075797683935
MAE: 731.461180160973
R2 score 91.1894696171342
===================================


Elasticnet
Model Training Performance
RMSE: 1631.9080368815596
MAE: 1134.2186494108498
R2 score 83.51984057479247
===================================

In [111]:
trained_model_list

[]

In [112]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [113]:
r2_list

[0.9118955916155688, 0.911874890496556, 0.9118946961713419, 0.8351984057479247]